<a href="https://colab.research.google.com/github/GabrielDurgante/PythonPandas2023-1/blob/main/Primeiro_Exemplo_em_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Primeiro Exemplo de manipulação de dados usando Python Pandas**

Autor: Eu e Poyatos

Data: 6 de fevereiro de 2023

In [ ]:
!pip install pandas

In [3]:
# Importando biblioteca pandas no Python
import pandas as pd

combustiveis_df = pd.read_excel("ca-2021-02.xlsx")

In [ ]:
# print para ver dataframe!
print(combustiveis_df)

In [ ]:
# display pra mostrar a tabela bonitinho
display(combustiveis_df)

In [ ]:
#exibe as primeiras 5 linhas 
display(combustiveis_df.head(5))

In [ ]:
# comandos Dataframe.shape() e Dataframe.desctibe()
print(combustiveis_df.shape)
#numero de linhas e colunas

#so as linhas 
print(combustiveis_df.shape[0])

In [ ]:
#describe() mostra estatisticas mais basicas
print(combustiveis_df.describe())

In [ ]:
#quais são as colunas e tipos de dados
print(combustiveis_df.info())

In [ ]:
#filtrar apenas por uma coluna 
display(combustiveis_df['Bairro'])

In [ ]:
#criamos um novo dataframe apenas com as colunas que eu quero
ca_df = combustiveis_df[['Revenda', 'Municipio', 'Produto', 'Valor de Venda']]
display(ca_df)

In [ ]:
#exibe a 4a. linha
display(ca_df.loc[9:19])

In [ ]:
#criar um dataframe gas_df contendo 
#apenas as 4 colunas (revenda, municipio, produto, Valor de Venda)
#somente com combustivel sendo GASOLINA e exibir na tela 
gas_df = ca_df.loc[ca_df['Produto'] == 'GASOLINA']
display(gas_df)

display(gas_df['Valor de Venda'].max())

In [ ]:
#se eu quiser saber qual é o posto e o municipio da gasolina mais cara do pais?
display(gas_df[['Revenda', 'Municipio', 'Valor de Venda']].max())

In [ ]:
#dataframe.loc[] com multiplas condições para filtragem
#quais são os preços, postos que vendem ETANOL na minha cidade (Porto Alegre)
etanol_poa_df = ca_df.loc[(ca_df['Produto'] == 'ETANOL') & (ca_df['Municipio'] == 'PORTO ALEGRE')]
etanol_poa_df.sort_values(by = 'Valor de Venda', inplace=True)
display(etanol_poa_df)

In [ ]:
#qual a média de preços dos combustiveis GASOLINA e GASOLINA ADITIVADA do Bairro RUBEM BERTA em PORTO ALEGRE
display(combustiveis_df.loc[(combustiveis_df['Bairro'] == 'RUBEM BERTA') & (combustiveis_df['Municipio'] == 'PORTO ALEGRE') & ((combustiveis_df['Produto'] == 'GASOLINA') | (combustiveis_df['Produto'] == 'GASOLINA ADITIVADA')), ['Valor de Venda']].mean())

In [57]:
# Como mostrar média de valor de venda por COMBUSTIVEL
media_por_combustivel_df = ca_df[['Produto', 'Valor de Venda']].groupby(by='Produto').mean().round(2)
display(media_por_combustivel_df)

                    Valor de Venda
Produto
DIESEL                        5.38
DIESEL S10                    5.45
ETANOL                        5.46
GASOLINA                      6.71
GASOLINA ADITIVADA            6.86
GNV                           4.39

In [ ]:
#quero adcionar uma coluna de valor booleano chamada "Ativo"
# que, por padrão, vai ser True para TODAS as linhas 
combustiveis_df['Ativo'] = True
print(combustiveis_df.info())
display(combustiveis_df.head())

In [ ]:
# e se eu quiser uma coluna nova chamada "obs"
# que preencha automaticamente "melhor cidade"
#quando o municipio for "Porto Alegre", RS

In [61]:
#exportar para excel o dataframe com etanol em indaiatuba...
etanol_indaiatuba_df.to_excel('etanol_indaiatuba.xlsx', sheet_name='Etanol em Indaiatuba')